@charset "utf-8";
@import url(./common.css);

.header{
    display: flex;
    justify-content: center;
    margin-top:3.4rem;    
}

.button{
    cursor: pointer;
}

.header > div{
    width: 150px;
    height: 36px;
}
.header > div > a > img{width: 100%;}

/* body */
.body{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.body01{
    width: 420px;
    height: 723px;
    margin-bottom: 80px;
}

.body01 > div{
    display: flex;
    justify-content: center;
    align-items: center;
}



.body01 > div > div:nth-of-type(1){
    width: 210px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ff5000;
    padding-bottom: 14px;
}

.body01 > div > div:nth-of-type(2){
    width: 210px;
    height: 40px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #aaaaaa;
    padding-bottom: 14px;
}

.body01 > div > div > button{
    background-color: #fff;
    border: #fff;
    color:#aaaaaa;
    cursor: pointer;   
    font-size: 16px;
    font-weight: bold;
}

.lg{
    width: 210px;
    margin-top: 10px;
    
}

.mlg{
    width: 210px;
    display: none;
}

.mlg > li{
    width: 420px;
    height: 56px;
    position: relative;
    margin-top: 22px;
}
.mlg p{
    position: absolute;
    left: 5%;
    top: 29%;
    font-weight: bold;
    font-size: 18px;
    color: #949090;
}


.mlg > li > input{
    width: 100%;
    padding-left: 25px;
    font-size: 18px;
    z-index: 10;
}

.mlg > li:nth-of-type(1) > input{
    height: 100%;
    background-color: #f6f6f6;
    border: 0;
    border-radius: 25px;
}

.mlg > li:nth-of-type(2) > input{
    height: 100%;
    background-color: #f6f6f6;
    border: 0;
    border-radius: 25px;    
}

.mlg > li:nth-of-type(3){
    display: flex;
    align-items: center;
    height: 25px;
    padding-left: 18px ;
}

.mlg > li:nth-of-type(3) > div{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mlg > li:nth-of-type(3) > div > span{
    font-size: 13px;    
    color: #333333;
    font-weight: bold;
}

.mlg > li:nth-of-type(3) > div > input[type="checkbox"]{
    display: none;   
    
}
.mlg > li:nth-of-type(3) > div > input[type="checkbox"]+label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border:1px solid #dfdede;
    position: relative;    
    
}

.mlg > li:nth-of-type(3) > div > input[id="CK"]:checked+label::after{
    content:'✔';
    font-size: 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    position: absolute;
    left: 10%;
    top:-10%;

}


.mlg > li:nth-of-type(4) > button{
    width: 100%;
    height: 100%;
    background-color: #ff5000;
    border: 0;
    border-radius: 25px;    
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}


.mlg > li:nth-of-type(5) > div{
    padding: 0 75px;
    width: 420px;
    display: flex;
    justify-content: space-between;

}

.mlg > li:nth-of-type(5) > div > a{
    color: #333333;
    font-size: 14px;
}

.mlg > li:nth-of-type(5) > div > a:nth-of-type(1){
    width: 90px;
    height: 20px;
    border-right: 1px solid #dfdede;
    
}

.mlg > li:nth-of-type(5) > div > a:nth-of-type(2){
    width: 100px;
    height: 20px;
    border-right: 1px solid #dfdede;
    
}

.mlg > li:nth-of-type(6){
    display: flex;
    justify-content: space-between;    
    position: relative;
    height: 20px;
}

.mlg > li:nth-of-type(6) > div{
    width: 170px;
    height: 1px;
    background-color: #dfdede;
}

.mlg > li:nth-of-type(6) > span{
    position: absolute;
    top: -16%;
    left: 47%;
    font-size: 14px;
    color: #aaaaaa;
    font-weight: bold;
}

.mlg > li:nth-of-type(7) > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    height: 56px;
    padding: 0 75px;

}

.mlg > li:nth-of-type(7) > div > div{
    width: 64px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;    

}

.mlg > li:nth-of-type(7) > div > div > a{
    width: 60px;
    height: 60px;
    border: 1px solid #dfdede;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mlg > li:nth-of-type(7) > div > div > a > img{width: 80%; height: 80%;}


.mlg > li:nth-of-type(7) > div > div:nth-of-type(2) > a{
    background-color: #1877f2;
    
}

.mlg > li:nth-of-type(7) > div > div:nth-of-type(3) > a{
    background-color: #00c60c;
    
}

.mlg > li:nth-of-type(7) > div > div:nth-of-type(4) > a{
    background-color: #1da1f2;
    
}



.mlg > li:nth-of-type(8) > div{

    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mlg > li:nth-of-type(8) > div >select{
    width: 150px;
    height: 30px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;    
    padding-left: 12px;
    padding-right: 32px;   
   
}

/* ////////////////////////////// */

.mlg01{
    width: 210px;
 
}

.mlg01 > li:nth-of-type(1){
    width: 420px;
    height: 56px;    
    margin-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    font-size: 12px;
    font-weight: bold;
}
.mlg01 > li:nth-of-type(1) > p{color: #ff5000;}
.mlg01 > li:nth-of-type(1) > span{color: #999999;}

.mlg01 > li:nth-of-type(2){
    margin-top: 22px;
    width: 420px;
}
.mlg01 > li:nth-of-type(2) > div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.mlg01 > li:nth-of-type(2) > div >div{
    width: 200px;
    height: 56px;
    border-radius: 25px;
    background-color: #f6f6f6f6;
    border: 1px solid #f6f6f6f6;
}

.mlg01 > li:nth-of-type(2) > div >div > input{
    border-radius: 25px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    background-color: #f6f6f6f6;
    border: 1px solid #f6f6f6f6;
    font-weight: bold;
    font-size: 18px;
    color: #999999;
    
}

.mlg01 > li:nth-of-type(3){
    margin-top: 22px;
    width: 420px;   
    height: 56px;
}

.mlg01 > li:nth-of-type(3) >button{
    width: 100%;
    height: 100%;
    background-color: #ff5000;
    border: 0;
    border-radius: 25px;    
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.mlg01 > li:nth-of-type(4){
    display: flex;
    width: 420px;
    justify-content: center;    
    align-items: center;
    margin-top: 22px;
}

.mlg01 > li:nth-of-type(4) > a{
    height: 20px;
    padding: 0 14px;
   color: #333333;
   font-size: 14px;
}
.mlg01 > li:nth-of-type(4) > a:nth-of-type(1){
    
    border-right: 1px solid #d8d8d8;
    
}

.mlg01 > li:nth-of-type(5) > div{
    margin-top: 22px;
    width: 420px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.mlg01 > li:nth-of-type(5) > div >select{
    width: 150px;
    height: 30px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;    
    padding-left: 12px;
    padding-right: 32px;   
   
}

/* ////////////////////////////// */
@media (max-width:769px){

    .header{
        display: flex;
        justify-content: center;
        margin-top:3.4rem;    
    }
    
    .button{
        cursor: pointer;
    }
    
    .header > div{
        width: 20vw;        
        height: 36px;
    }
    .header > div > a > img{width: 100%;}
    
    /* body */
    .body{
        
        margin: 0 auto;
        margin-top: 24px;               
        
    }
    
    .body01{        
        width: 100%;
        height: 723px;
        margin: 0 auto;
        margin-bottom: 80px;
        
    }
    
    .body01 > div{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .body01 > div > div:nth-of-type(1){
        max-width: 210px;
        height: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #ff5000;
        padding-bottom: 14px;
    }
    
    .body01 > div > div:nth-of-type(2){
        max-width: 210px;
        height: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #aaaaaa;
        padding-bottom: 14px;
    }
    
    .body01 > div > div > button{
        width: 100%;
        background-color: #fff;
        border: #fff;
        cursor: pointer;
        color: #ff5000;
        font-size: 2.1vw;
        font-weight: bold;
        
    }
    
    .lg{
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    
    .mlg{
        width: 420px;
        
    }
    
    .mlg > li{
        width: 420px;
        height: 56px;
        position: relative;
        margin-top: 22px;
    }
    .mlg p{
        position: absolute;
        left: 5%;
        top: 29%;
        font-weight: bold;
        font-size: 18px;
        color: #949090;
    }
    
    
    .mlg > li > input{
        width: 100%;
        
    }
    
    .mlg > li:nth-of-type(1) > input{
        height: 100%;
        background-color: #f6f6f6;
        border: 0;
        border-radius: 25px;
    }
    
    .mlg > li:nth-of-type(2) > input{
        height: 100%;
        background-color: #f6f6f6;
        border: 0;
        border-radius: 25px;    
    }
    
    .mlg > li:nth-of-type(3){
        display: flex;
        align-items: center;
        height: 25px;
        padding-left: 18px ;
    }
    
    .mlg > li:nth-of-type(3) > div{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .mlg > li:nth-of-type(3) > div > span{
        font-size: 13px;    
        color: #333333;
        font-weight: bold;
    }
    
    .mlg > li:nth-of-type(3) > div > input[type="checkbox"]{
        display: none;   
        
    }
    .mlg > li:nth-of-type(3) > div > input[type="checkbox"]+label{
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border:1px solid #dfdede;
        position: relative;    
        
    }
    
    .mlg > li:nth-of-type(3) > div > input[id="CK"]:checked+label::after{
        content:'✔';
        font-size: 15px;
        width: 15px;
        height: 15px;
        text-align: center;
        position: absolute;
        left: 10%;
        top:-10%;
    
    }
    
    
    .mlg > li:nth-of-type(4) > button{
        width: 100%;
        height: 100%;
        background-color: #ff5000;
        border: 0;
        border-radius: 25px;    
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }
    
    
    .mlg > li:nth-of-type(5) > div{
        padding: 0 75px;
        width: 420px;
        display: flex;
        justify-content: space-between;
    
    }
    
    .mlg > li:nth-of-type(5) > div > a{
        color: #333333;
        font-size: 14px;
    }
    
    .mlg > li:nth-of-type(5) > div > a:nth-of-type(1){
        width: 90px;
        height: 20px;
        border-right: 1px solid #dfdede;
        
    }
    
    .mlg > li:nth-of-type(5) > div > a:nth-of-type(2){
        width: 100px;
        height: 20px;
        border-right: 1px solid #dfdede;
        
    }
    
    .mlg > li:nth-of-type(6){
        display: flex;
        justify-content: space-between;    
        position: relative;
        height: 20px;
    }
    
    .mlg > li:nth-of-type(6) > div{
        width: 170px;
        height: 1px;
        background-color: #dfdede;
    }
    
    .mlg > li:nth-of-type(6) > span{
        position: absolute;
        top: -16%;
        left: 47%;
        font-size: 14px;
        color: #aaaaaa;
        font-weight: bold;
    }
    
    .mlg > li:nth-of-type(7) > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 420px;
        height: 56px;
        padding: 0 75px;
    
    }
    
    .mlg > li:nth-of-type(7) > div > div{
        width: 64px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;    
    
    }
    
    .mlg > li:nth-of-type(7) > div > div > a{
        width: 60px;
        height: 60px;
        border: 1px solid #dfdede;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mlg > li:nth-of-type(7) > div > div > a > img{width: 80%; height: 80%;}
    
    
    .mlg > li:nth-of-type(7) > div > div:nth-of-type(2) > a{
        background-color: #1877f2;
        
    }
    
    .mlg > li:nth-of-type(7) > div > div:nth-of-type(3) > a{
        background-color: #00c60c;
        
    }
    
    .mlg > li:nth-of-type(7) > div > div:nth-of-type(4) > a{
        background-color: #1da1f2;
        
    }
    
    
    
    .mlg > li:nth-of-type(8) > div{
    
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .mlg > li:nth-of-type(8) > div >select{
        width: 150px;
        height: 30px;
        border: 1px solid #aaaaaa;
        border-radius: 5px;    
        padding-left: 12px;
        padding-right: 32px;   
       
    }

}

@media (max-width:425px){

    .header{
        display: flex;
        justify-content: center;
        margin-top:3.4rem;    
    }
    
    .button{
        cursor: pointer;
    }
    
    .header > div{
        width: 20vw;        
        height: 36px;
    }
    .header > div > a > img{width: 100%;}
    
    /* body */
    .body{
        
        margin: 0 auto;
        margin-top: 24px;               
        
    }
    
    .body01{        
              
        height: 723px;
        margin: 0 auto;
        margin-bottom: 80px;
        
    }
    
    .body01 > div{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    
    
    .body01 > div > div:nth-of-type(1){
        max-width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #ff5000;
        padding-bottom: 14px;
    }
    
    .body01 > div > div:nth-of-type(2){
        max-width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #aaaaaa;
        padding-bottom: 14px;
    }
    
    .body01 > div > div > button{
        width: 100%;
        background-color: #fff;
        border: #fff;
        cursor: pointer;
        color: #ff5000;
        font-size: 2.1vw;
        font-weight: bold;
        
    }
    
    .lg{
        width: 80%;
        margin-top: 10px;        
        display: flex;
        justify-content: center;
    }
    
    .mlg{
        width: 80%;
        
    }
    
    .mlg > li{
        width: 100%;
        height: 56px;
        position: relative;
        margin-top: 22px;
    }
    .mlg p{
        position: absolute;
        left: 5%;
        top: 29%;
        font-weight: bold;
        font-size: 18px;
        color: #949090;
    }
    
    
    .mlg > li > input{
        width: 100%;
        
    }
    
    .mlg > li:nth-of-type(1) > input{
        height: 100%;
        background-color: #f6f6f6;
        border: 0;
        border-radius: 25px;
    }
    
    .mlg > li:nth-of-type(2) > input{
        height: 100%;
        background-color: #f6f6f6;
        border: 0;
        border-radius: 25px;    
    }
    
    .mlg > li:nth-of-type(3){
        display: flex;
        align-items: center;
        height: 25px;
        padding-left: 18px ;
    }
    
    .mlg > li:nth-of-type(3) > div{
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .mlg > li:nth-of-type(3) > div > span{
        font-size: 13px;    
        color: #333333;
        font-weight: bold;
    }
    
    .mlg > li:nth-of-type(3) > div > input[type="checkbox"]{
        display: none;   
        
    }
    .mlg > li:nth-of-type(3) > div > input[type="checkbox"]+label{
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border:1px solid #dfdede;
        position: relative;    
        
    }
    
    .mlg > li:nth-of-type(3) > div > input[id="CK"]:checked+label::after{
        content:'✔';
        font-size: 15px;
        width: 15px;
        height: 15px;
        text-align: center;
        position: absolute;
        left: 10%;
        top:-10%;
    
    }
    
    
    .mlg > li:nth-of-type(4) > button{
        width: 100%;
        height: 100%;
        background-color: #ff5000;
        border: 0;
        border-radius: 25px;    
        font-size: 18px;
        font-weight: bold;
        color: #fff;
    }

    .mlg > li:nth-of-type(5){}
    
    
    .mlg > li:nth-of-type(5) > div{
        padding: 0 5%;
        width: 100%;
        display: flex;
        justify-content: space-between;
    
    }
    
    .mlg > li:nth-of-type(5) > div > a{
        color: #333333;
        font-size: 14px;
    }
    
    .mlg > li:nth-of-type(5) > div > a:nth-of-type(1){
        width: 90px;
        height: 20px;
        border-right: 1px solid #dfdede;
        
    }
    
    .mlg > li:nth-of-type(5) > div > a:nth-of-type(2){
        width: 100px;
        height: 20px;
        border-right: 1px solid #dfdede;
        
    }
    
    .mlg > li:nth-of-type(6){
        display: flex;
        justify-content: space-between;    
        position: relative;
        height: 20px;
    }
    
    .mlg > li:nth-of-type(6) > div{
        width: 40%;
        height: 1px;
        background-color: #dfdede;
    }
    
    .mlg > li:nth-of-type(6) > span{
        position: absolute;
        top: -50%;
        left: 47%;
        font-size: 14px;
        color: #aaaaaa;
        font-weight: bold;
    }
    
    .mlg > li:nth-of-type(7) > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;
        height: 56px;
        padding: 0;
      
    
    }
    
    .mlg > li:nth-of-type(7) > div > div{
        width: 64px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;    
    
    }
    
    .mlg > li:nth-of-type(7) > div > div > a{
        width: 60px;
        height: 60px;
        border: 1px solid #dfdede;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mlg > li:nth-of-type(7) > div > div > a > img{width: 80%; height: 80%;}
    
    
    .mlg > li:nth-of-type(7) > div > div:nth-of-type(2) > a{
        background-color: #1877f2;
        
    }
    
    .mlg > li:nth-of-type(7) > div > div:nth-of-type(3) > a{
        background-color: #00c60c;
        
    }
    
    .mlg > li:nth-of-type(7) > div > div:nth-of-type(4) > a{
        background-color: #1da1f2;
        
    }
    
    
    
    .mlg > li:nth-of-type(8) > div{
    
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .mlg > li:nth-of-type(8) > div >select{
        width: 150px;
        height: 30px;
        border: 1px solid #aaaaaa;
        border-radius: 5px;    
        padding-left: 12px;
        padding-right: 32px;   
       
    }

}